.flex_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 30px;
  background-image: url(../../public/assets/background.png);
}
.top_carrousel {

}
.carousel .slider-wrapper {
  width: 50%;
}

.carousel .thumb {
  display: none !important;
}

.type_adress {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 30px;
  justify-content: space-between;
  text-align: left;
  border-width: 5px;
  width: 50%;
  border-radius: 10px;
  padding: 10px;
  margin: 20px;
  background-color: rgb(255, 255, 255, 0.5);
  color: #000000;
}
.type_adress:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.image1 {
  display: flex;
  flex: 1 1 25%;
  margin-bottom: 20px;
  max-width: 1500px;
  position: relative;
  background-position: center center;
  margin: 150px;
}
.image1 {
  max-width: 80%;
  box-shadow: rgb(13, 16, 15) 1px 0 15px;
}

.titre {
  margin-top: 20px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  color: #010101;
  font-size: 50px;
  text-shadow: 2px 2px 2px #333;
  text-transform: uppercase;
}

.article {
  display: flex;
  flex-wrap: wrap;
  font-size: large;
  padding: 5px;
  margin: 10%;
  margin-top: 25px;
  font-size: 30px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.5);
  color: #000000;
  border-radius: 15px;
}

.art_button {
  margin-bottom: 30px;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  padding: 10px 20px;
  border-radius: 5px;
  background: linear-gradient(to bottom, #1e7870, #09a79d);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
  border-width: 0px 0px 0px 0px;
}
.art_button:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
.art_button:focus {
  outline: none;
}


.imgvid {
  width: 60%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1em;
  align-items: center;
  justify-items: center;
}
.type_adress h4 {
  font-size: 25px;
  font-weight: 600;
}
/* project info container design  */

.project_info_container {
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  display: grid;
    grid-gap: 1em;
    grid-template-rows: 400px;
  .basic_info { 
    display: grid;
    grid-template-columns: 1fr 2fr;
    place-items: center;
    grid-gap: 1em;
    height: 400px;
    align-items: center;
    .text_info {
      padding-left: 20px;
      padding: 10px;
      width: 100%;
      height: 100%;
      font-family: Arial, Helvetica, sans-serif;
      display: grid;
      align-items: center;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      border-radius: 7px;
      background-color: rgb(255, 255, 255, 0.5);
  
      h2 {
        color: black;
        font-size: 36px;
        font-weight: 500;
      }
      h4 {
        color: rgb(42, 42, 42);
        font-size: 28px;
        font-weight: 400;
      }
    }

  }
  .more_detailed_info {
    display: grid;
    grid-template-columns: 2fr 3fr;
    place-items: center;
    align-items: center;
    grid-gap: 1em;
    .project_video {
      width: 100%;
      height: 100%;
    }
    .text_details {
      width: 100%;
      height: 100%;
      display: grid;
      align-items: center;
      padding: 20px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            border-radius: 7px;
            background-color: rgb(255, 255, 255, 0.5);
        p {
          font-size: 24px;
          font-weight: 400;
        }
    }
  }
}
.vid {
  align-self: center;
  justify-self: center;
  width: 100%;
}
@media only screen and (max-width: 1000px) {
.project_info_container {
   grid-template-rows: 700px;
  width: 95%;
    .basic_info {
      display: grid;
      grid-template-columns: 1fr;
      place-items: center;
      grid-gap: 1em;
      align-items: center;

      .text_info {
        padding-left: 20px;
        padding: 10px;
        width: 100%;
        height: 100%;
        font-family: Arial, Helvetica, sans-serif;
        display: grid;
        align-items: center;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border-radius: 7px;
        background-color: rgb(255, 255, 255, 0.5);

        h2 {
          color: black;
          font-size: 36px;
          font-weight: 500;
        }

        h4 {
          color: rgb(42, 42, 42);
          font-size: 28px;
          font-weight: 400;
        }
      }

    }

    .more_detailed_info {
      display: grid;
      grid-template-columns: 1fr;
      align-items: center;
      justify-items: center;
      grid-gap: 1em;
      .project_video {
        width: 100%;
        height: 100%;
      }

      .text_details {
        width: 100%;
        height: 100%;
        display: grid;
        align-items: center;
        padding: 20px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border-radius: 7px;
        background-color: rgb(255, 255, 255, 0.5);

        p {
          font-size: 24px;
          font-weight: 400;
        }
      }
    }
  }
}

/****************************************************/

.pic-ctn {
  width: 100vw;
  height: 200px;
  display: flex;

  margin: 100px;
}

@keyframes display {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  10% {
    transform: translateX(0);
    opacity: 1;
  }
  20% {
    transform: translateX(0);
    opacity: 1;
  }
  30% {
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(-200px);
    opacity: 0;
  }
}

.pic-ctn {
  position: relative;
  display: flex;
  flex: 1 1 25%;
  margin-bottom: 20px;
  width: 100vw;
  height: 300px;
  margin-top: 15vh;
}

.pic_ctn > img {
  position: absolute;
  margin: 20px;
  left: calc(50% - 100px);
  opacity: 0;
  animation: display 10s infinite;
}

.pic_ctn img:nth-child(2) {
  animation-delay: 2s;
}
.pic_ctn img:nth-child(3) {
  animation-delay: 4s;
}
.pic_ctn img:nth-child(4) {
  animation-delay: 6s;
}
.pic_ctn img:nth-child(5) {
  animation-delay: 8s;
}
.fancy {
  font-weight: 600;
  font-style: bold;
  justify-content: Left;
  color: rgb(8, 116, 109);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 50px;
}
